<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-theme.css') }}">
  </head>
  <body>
      <div class="page-header">
        <h1>Notes <small>A cool place for cool folks</small></h1>
      </div>
      <nav>
        <a href="/logout">Log out</a>
        <a href="/newnote">Write a New Note</a>
        <a href="/">Your Feed</a>
        <a href="{{url_for('profile', username = g.user.username)}}">Your Profile</a>
        <a href="/users">All Users</a>
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% for category, message in messages %}
            <div>{{message}}</div>
          {% endfor %}
        {% endwith %}
      </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>