<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
      <div>
        <h1>Notes</h1>
      </div>
      <nav>
        <a href="/logout">Log out</a>
        <a href="/newnote">Write a New Note</a>
        <a href="/">Your Feed</a>
        <a href="{{url_for('profile', username = g.user.username)}}">Your Profile</a>
        <a href="/users">All Users</a>
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% for category, message in messages %}
            <div>{{message}}</div>
          {% endfor %}
        {% endwith %}
      </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>