{% extends "base.html" %}
{% block content %}
<h2>Your Feed:</h2>

<div class="container-fluid">
{% for note in notes %}
    <div class="col-md-4 panel panel-default"> 
        {% for user in users %}
          {% if user.id == note.owner_id %}
            <div class="panel-heading"><strong><a href="/profile/{{user.username}}">{{user.username}}</a></strong></div>
          {% endif %}
        {% endfor %}
        <div class="panel-body">{{note.body}}</div>
        <div class="panel-footer">{{note.pub_date}}</div>

    </div>
{% endfor %}
</div>
{% endblock %}